# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.analytical-engine'
'name': 'Analytical Engine'
'fileTypes': [
  'ae'
]
'patterns': [
  {
    'name': 'keyword.control'
    'match': '^(\\(\\??|\\{\\??|\\}\\{|\\)|\\})'
  },
  {
    'match': '^(\\s+|\\.).*$'
    'name': 'comment'
  },
  {# matching cards with no params or combo
    'match': '^(\\+|\\-|\\−|\\/|\\÷|\\*|\\×|\\<|\\>|DX|DY|D\\+|D-|P|B)\\s(.*)$'
    'captures':
      '1':
        'name': 'keyword.operator'
      '2':
        'name': 'comment'
  },
  {# match halt with a written message on it
    'match': '^(H)\\s(.*)$'
    'captures':
      '1':
        'name': 'keyword.operator'
      '2':
        'name': 'constant'
  },
  {# match cards with number combo and param
    'match': '^(N)(\\d+)\\s+(-?\\d+)\\s(.*)$'
    'captures':
      '1':
        'name': 'keyword.operator'
      '2':
        'name': 'variable'
      '3':
        'name': 'constant'
      '4':
        'name': 'comment'
  },
  {# match number with decimal specifically
    'match': '^(N)(\\d+)\\s+(-?\\d+\\.\\d+)\\s(.*)$'
    'captures':
      '1':
        'name': 'keyword.operator'
      '2':
        'name': 'variable'
      '3':
        'name': 'constant'
      '4':
        'name': 'comment'
  },
  {# matching cards with number combo
    'match': '^(S|Z|L|C(F|B)\\??|\\<|\\>)(\\d+\'?)\\s(.*)$'
    'captures':
      '1':
        'name': 'keyword.operator'
      '3':
        'name': 'variable'
      '4':
        'name': 'comment'
  },
  {
    'match': '^(A write annotation )(.*)'
    'captures':
      '1':
        'name': 'keyword.operator'
      '2':
        'name': 'constant'
  },
  {
    'match': '^(A set decimal places to )([\\+\\-]?\\d+)'
    'captures':
      '1':
        'name': 'keyword.operator'
      '2':
        'name': 'constant'
  },
  {
    'match': '^(A write numbers as )(.*)'
    'captures':
      '1':
        'name': 'keyword.operator'
      '2':
        'name': 'constant'
  },
  {
    'match': '^(A include cards )(.*)'
    'captures':
      '1':
        'name': 'keyword.operator'
      '2':
        'name': 'constant'
  },
  {
    'match': '^(A include from library cards for )(.*)'
    'captures':
      '1':
        'name': 'keyword.operator'
      '2':
        'name': 'constant'
  },
  {
    'match': '^(A .*)'
    'name': 'keyword.operator'
  },
  {
    'match': '^(DC) (\\S*)'
    'captures':
      '1':
        'name': 'keyword.operator'
      '2':
        'name': 'constant'
  }
]
